<main>
  <div class="welcome-text" style="margin-top: 100px;">
    <h1>Chào mừng bạn đến với <br> <strong>FC Flower</strong></h1>
    <p>
        FC Flower tự hào mang đến những bó hoa, mẫu hoa cắm tinh tế, độc đáo và khác biệt. Mỗi sản phẩm đều được chăm chút kỹ lưỡng, cam kết không sử dụng hoa đã qua sử dụng, mang lại cho bạn những trải nghiệm tuyệt vời nhất.
    </p>
    <p>
        Với sự sáng tạo không giới hạn, chúng tôi luôn cập nhật các mẫu hoa mới lạ, đẹp mắt, để mỗi khách hàng đều cảm thấy hài lòng và say đắm trước vẻ đẹp của từng sản phẩm.
    </p>
</div>

    <div class="welcome-image" style="margin-top: 100px;">
      <img src="../../assets/amg.jpg" alt="Hoa đẹp">
    </div>
  </main>
  <app-footer></app-footer>
