<footer id="site-footer">
    <div class="bg-success bg-opacity-25 py-5">
        <div class="container py-3">
            <div class="row">
                <div class="col-xl-3 col-md-6 col-sm-12">
                    <h5 class="pb-3"><i class="fa-solid fa-user-group pe-1"></i> Giới thiệu về chúng tôi</h5>
                    <span class="text-secondary">Đây là một thẻ rộng hơn với văn bản hỗ trợ bên dưới như một dẫn nhập tự nhiên đến nội dung bổ sung.</span>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-12">
                    <h5 class="pb-3"><i class="fa-solid fa-link pe-1"></i> Liên kết quan trọng</h5>
                    <ul>
                        <li><a href="#" class="text-decoration-none link-secondary">Giới thiệu về chúng tôi</a></li>
                        <li><a href="#" class="text-decoration-none link-secondary">Chính sách bảo mật</a></li>
                        <li><a href="#" class="text-decoration-none link-secondary">Điều khoản dịch vụ</a></li>
                    </ul>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-12">
                    <h5 class="pb-3"><i class="fa-solid fa-location-dot pe-1"></i> Địa chỉ của chúng tôi</h5>
                    <span class="text-secondary">
                        112 Lê Đức Thọ<br>
                        p.6, Gò Vấp, tp.HCM<br>
                        Việt Nam<br>
                    </span>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-12">
                    <h5 class="pb-3"><i class="fa-solid fa-paper-plane pe-1"></i> Cập nhật thông tin</h5>
                    <form>
                        <input type="text" class="w-100 mb-2 form-control" name="" placeholder="Nhập địa chỉ email">
                        <button class="w-100 btn btn-dark">Đăng ký ngay</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-dark py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a class="btn btn-outline-secondary" href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a class="btn btn-outline-secondary" href="https://www.youtube.com/feed/you"><i class="fa-brands fa-youtube"></i></a></li>
                        <li class="list-inline-item"><a class="btn btn-outline-secondary" href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a class="btn btn-outline-secondary" href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                        <li class="list-inline-item"><a class="btn btn-outline-secondary" href="https://github.com/Hvan3243"><i class="fa-brands fa-github"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-12"><span class="text-secondary pt-1 float-md-end float-sm-start">Bản quyền &copy; 2024</span></div>
            </div>
        </div>
    </div>
  </footer>